@font-face {
    font-family: 'denseregular';
    src: url('assets/fonts/dense-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/dense-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$dense: 'denseregular';
$roboto: 'Roboto Condensed', sans-serif;
